.loginContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginInputs {
	height: fit-content;
	width: 300px;
	text-align: center;
	img {
		width: 300px;
	}
	input {
		width: 80%;
		border-radius: 30px;
		border: 1px solid #c4bfef;
		padding: 10px 20px;
		margin: 10px auto;
		background-color: transparent;
		color: white;
		font-size: 16px;
		outline: none;
		text-align: center;
		&::placeholder {
			color: white;
		}
	}
	button {
		border-radius: 20px;
		border: none;
		padding: 5px 15px;
		outline: none;
		background-color: #735fed;
		color: white;
		margin: 10px 10px 0px 10px;
		font-size: 16px;
		cursor: pointer;
		&:disabled {
			cursor: default;
			background-color: #8675f1af;
			color: rgba(255, 255, 255, 0.747);
		}
	}
	.error {
		color: red;
		margin-top: 0px;
		text-align: left;
		font-size: 12px;
	}
}
